.portfolio__project {
    border-radius: 15px;
}

.portfolio__project:hover {
    animation: backgroundAnimation 0.5s ease forwards;
}

.portfolio__project-container:hover {
    background: rgba(0, 0, 0, 0.8);
}

.portfolio__project-container:hover h3 {
    opacity: 1;
}

.portfolio__project-container:hover p {
    opacity: 1;
}
  
@keyframes backgroundAnimation {
    from {
        background-size: 160%; 
        background-position: center;
    }
    to {
        background-size: 220%;
        background-position: center; 
    }
}

.portfolio__project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
    height: 280px;
    width: 100%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background: rgba(0, 0, 0, 0);
}

.portfolio__project-container h3 {
    display: flex;
    align-items: center;
    flex: 2;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    opacity: 0;
    transition: 0.5s ease;
}

.portfolio__project-container p {
    display: flex;
    align-items: center;
    flex: 1;
    font-family: 'Raleway';
    flex: 2;
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0;
    transition: 0.5s ease;  
}

.portfolio__project-container > p:last-child {
    font-weight: 400;
    font-size: 18px;
    font-style:oblique;
}



