.portfolio__projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio__projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.portfolio__projects-container_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio__projects-container_heading h1 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.portfolio__projects-container_heading p {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 2rem;
}


.portfolio__projects-container_body {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}