.portfolio__experiences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio__experiences-title h1{
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 1rem;
    color: #FFFFFF;
}

.portfolio__experiences-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(4, 13, 18, 0.3);
    box-shadow: 0px 10.0208px 100.208px rgba(129, 143, 180, 0.1);
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.portfolio__experiences-overlay_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.portfolio__experiences-overlay_info-map {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.portfolio__experience-content h3, .portfolio__experience-content p:not(p:last-child) {
    margin-bottom: 1rem;
}

.portfolio__experiences-overlay_info-map .portfolio__experience-content > :last-child {
    align-self: flex-start;
}

.portfolio__experiences-overlay_info-map > :nth-child(2)  {
    align-self: center;
}

.portfolio__experiences-overlay_info-map > :nth-child(3)  {
    align-self: flex-end;
}

.first-image {
    width: 250px;
    position: absolute;
    left: -110px;
    top: 0;
    z-index: -1;
    filter: blur(2px);
}

.second-image {
    width: 250px;
    position: absolute;
    right: -110px;
    top: 100px;
    z-index: -1;
    filter: blur(2px);
}

.third-image {
    width: 150px;
    position: absolute;
    left: 250px;
    bottom: 80px;
    z-index: -1;
    filter: blur(2px);
}

@media screen and (min-width: 1700px) {
    .portfolio__experience-content h3, .portfolio__experience-content p:not(p:last-child) {
        margin-bottom: 1.25rem;
    }

    .portfolio__experiences-title h1{
        font-size: 42px;
        line-height: 47px;
    }

    .first-image {
        right: 1730px;
    }

    .second-image {
        left: 1730px;
    }

    .third-image {
        right: 1500px;
        top: 700px;
    }

    .portfolio__experiences-overlay_info-map .portfolio__experience-content > :last-child {
        padding: 0.85rem 1.75rem;
    }
}

@media screen and (max-width: 1000px) {
    .portfolio__experience-content h3, .portfolio__experience-content p:not(p:last-child) {
        margin-bottom: 0.75rem;
    }

    .portfolio__experiences-overlay_info-map >:nth-child(1),
    .portfolio__experiences-overlay_info-map >:nth-child(2)  {
        margin-bottom: 1.5rem;
    }

    .first-image {
        width: 150px;
        left: -60px;
    }

    .second-image {
        width: 150px;
        right: -60px;
    }

    .third-image {
        width: 100px;
        left: 100px;
    }

    .portfolio__experiences-overlay_info-map .portfolio__experience-content > :last-child {
        padding: 0.6rem 1.3rem;
    }
}

@media screen and (max-width: 500px) {
    .portfolio__experiences-title h1{
        font-size: 28px;
        line-height: 32px;
    }

    .portfolio__experiences-overlay_info-map div {
        align-self: flex-start;
    }

    .first-image {
        width: 100px;
        left: -50px;
    }

    .second-image {
        width: 100px;
        right: -50px;
    }

    .third-image {
        width: 100px;
        left: 200px;
        bottom: 100px;
    }
}


