* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: #fff;
}

body {
    background: linear-gradient(90deg, rgba(8, 0, 51, 1) 0%, rgba(0, 0, 0, 1) 40%);
}

a {
    color: unset;
    text-decoration: none;
}

.section__padding {
    padding: 4rem 0;
}

.section__width {
    width: 950px;
}

.transparent-button {
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.portfolio__app-header {
    background: linear-gradient(15deg, rgba(0, 0, 0, 0) 40%, rgba(25, 55, 109, 0.59) 100%);    
}

.portfolio__app-footer {
    background: radial-gradient(circle at 0% 0%, rgba(0, 0, 0, 0) 50%, rgba(25, 55, 109, 0.30) 100%);
}

@media screen and (min-width: 1700px) {
    .section__width {
        width: 1500px;
    }
}

@media screen and (max-width: 1000px) {
    .section__width {
        width: 700px;
    }
}

@media screen and (max-width: 500px) {
    .section__width {
        width: 350px;
    }
}